# API URL para desarrollo local
NEXT_PUBLIC_API_URL=http://localhost:3001

# API URL para Docker (descomentar en producción Docker)
# API_URL_DOCKER=http://backend:3002

# Variables personalizadas
CUSTOM_KEY=tu_valor_aqui
